@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Noto+Serif+Display:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    padding: border-box;
}

header, .preamble, .explanation, .participation, .benefits{
    height: 100vh;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://64.media.tumblr.com/91b226c04893120506372425344f8c33/tumblr_o5s2pkuq0T1uuzayro1_r1_500.gifv);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-family: 'Bellota Text', cursive;
    position: absolute;
    width: 1140px;
    top: 30%;
    left: 50%;
    color: #fff;
    font-size: 540%;
    font-weight: 300;
    -webkit-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

header h2 {
    font-family: 'Bellota Text', cursive;
    position: absolute;
    width: 1140px;
    top: 42%;
    left: 52%;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    -webkit-transform: translate(-52%, -42%);
    -ms-transform: translate(-52%, -42%);
    transform: translate(-52%, -42%);
}

.summary{
    font-family: 'Noto Serif Display', serif;
    position: absolute;
    width: 600px;
    top: 58%;
    left: 33%;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    -webkit-transform: translate(-52%, -42%);
    -ms-transform: translate(-52%, -42%);
    transform: translate(-52%, -42%);
}

.summary p:nth-child(2) {
  margin-top:40px;
}

.summary a:link,
.summary a:visited{
    padding: 5px 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    background-color: #1abc9c;
    border: solid 1px #1abc9c;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.summary a:hover,
.summary a:active {
    background-color: #20638f;
    border: solid 1px #20638f;
}

/*
.preamble{
    background-image: url(https://www.seekpng.com/png/detail/844-8442071_purple-flower-clipart-decorative-purple-flower-border-transparent.png);
    background-size: cover;
    background-position: center;
    
}
*/

.preamble{
    margin-bottom:-200px;
}

.participation{
    margin-bottom:-100px;
}

/*Example followed here for CSS lines for before and after text: https://www.w3docs.com/snippets/css/how-to-add-lines-before-and-after-heading-text.html*/
.preamble h3{
    font-family: 'Bellota Text', cursive;
    margin: 100px auto;
    color: #1abc9c;
    text-align: center;
    font-size: 48px;
    max-width: 1140px;
    position: relative;
}

.preamble h3:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #1abc9c;
    left: 17%;
    top: 50%;
    position: absolute;
}
.preamble h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #1abc9c;
    right: 17%;
    top: 50%;
    position: absolute;
}

.preamble p{
    font-family: 'Noto Serif Display', serif;
    width:900px;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 20px;
}

.explanation, .benefits {
    background: #000;
}

.explanation h3{
    font-family: 'Bellota Text', cursive;
    margin: 100px auto;
    padding-top:100px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    max-width: 1140px;
    position: relative;
}

.explanation h3:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    left: 17%;
    top: 80%;
    position: absolute;
}
.explanation h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    right: 17%;
    top: 80%;
    position: absolute;
}

.explanation p{
    font-family: 'Noto Serif Display', serif;
    color:#fff;
    width:900px;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 20px;
}

.participation h3{
    font-family: 'Bellota Text', cursive;
    margin: 100px auto;
    color: #1abc9c;
    text-align: center;
    font-size: 48px;
    max-width: 1140px;
    position: relative;
}

.participation h3:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #1abc9c;
    left: 17%;
    top: 50%;
    position: absolute;
}
.participation h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #1abc9c;
    right: 17%;
    top: 50%;
    position: absolute;
}

.participation p{
    font-family: 'Noto Serif Display', serif;
    width:900px;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 20px;
}

.benefits h3{
    font-family: 'Bellota Text', cursive;
    margin: 100px auto;
    padding-top: 150px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    max-width: 1140px;
    position: relative;
}

.benefits h3:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    left: 17%;
    top: 85%;
    position: absolute;
}
.benefits h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    right: 17%;
    top: 85%;
    position: absolute;
}

.benefits p{
    font-family: 'Noto Serif Display', serif;
    width:900px;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 100px;
    color:#fff;
}


.requirements h3{
    font-family: 'Bellota Text', cursive;
    margin: 100px auto;
    color: #1abc9c;
    text-align: center;
    font-size: 48px;
    max-width: 1140px;
    position: relative;
}

.requirements h3:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #1abc9c;
    left: 17%;
    top: 50%;
    position: absolute;
}
.requirements h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #1abc9c;
    right: 17%;
    top: 50%;
    position: absolute;
}

.requirements p{
    font-family: 'Noto Serif Display', serif;
    width:900px;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 20px;
}

/* main footer */
footer {
    margin-top: 100px;
    background-image: linear-gradient(rgba(26, 188, 156, 0.4), rgba(26, 188, 156, 0.4));
    clear: both;
    padding: 60px 0;
    color: #fff;
    text-align: center;
    height: 125px;
}

footer a{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    margin-top:50px;
    margin-right:80px;
    font-size: 32px;
}


footer a:hover,
footer a:active {
    color: #20638f;
}

.design-selection{
    float: left;
    width:50%;
    background-image: linear-gradient(rgba(26, 188, 156, 0.4), rgba(26, 188, 156, 0.4));
}

.design-archives, .zen-resources{
    float:right;
    width:50%;
    background-image: linear-gradient(rgba(26, 188, 156, 0.4), rgba(26, 188, 156, 0.4));
}

.design-selection h3 {
    font-family: 'Bellota Text', cursive;
    color: #fff;
    padding-left: 100px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
}

.design-selection nav {
    margin-left:100px;
}

.design-selection li { 
    float: left;
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #1abc9c;
    width: 17%;
    height: 60px;
    padding: 15px;
}

.design-selection li a{
    font-family: 'Noto Serif Display', serif;
    color: #fff;
}

.design-selection li a:hover{
    color: #20638f;
}

.design-archives h3 {
    font-family: 'Bellota Text', cursive;
    color: #fff;
    padding-left: 50px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
}

.design-archives nav {
    margin-left:50px;
}

.design-archives li {
    font-family: 'Noto Serif Display', serif;
    display: inline-block;
    list-style-type: none;
}

.design-archives li a{
    color: #fff;
    margin-right:20px;
    font-size:16px;
}

.design-archives li a:hover{
    color: #20638f;
}

.zen-resources h3 {
    font-family: 'Bellota Text', cursive;
    color: #fff;
    margin-top: 20px;
    padding-left: 50px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;    
}

.zen-resources ul {
    margin-left:50px;
}

.zen-resources li {
    float: left;
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    margin-right: 15px;
    margin-bottom: 18px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    border: 1px solid #1abc9c;
    width: 10%;
    height: 60px;
    padding: 15px;
    text-align: center;
}

.zen-resources li a{
    font-family: 'Noto Serif Display', serif;
    color: #fff;
}

.zen-resources li a:hover{
    color: #20638f;
}

@media only screen and (max-width: 1200px){
    header h1{    
    left: 70%;
    font-size: 500%;  
    }    
	
    header h2{
    left:72%;
    font-size: 200%;
    }
    
    .summary{
    width: 600px;
    left: 48%;
    font-size: 18px;
    }
    
    .preamble h3:before {
    width: 40px;
    height: 3px;
    left: 18%;
}
.preamble h3:after {
    width: 40px;
    height: 3px;
    right: 18%;
}
.explanation h3:before {
    width: 40px;
    height: 3px;
    left: 18%;
}
.explanation h3:after {
    width: 40px;
    height: 3px;
    right: 18%;
}
.participation h3:before {
    width: 40px;
    height: 3px;
    left: 18%;
}
.participation h3:after {
    width: 40px;
    height: 3px;
    right: 18%;
}
.benefits h3:before {
    width: 40px;
    height: 3px;
    left: 18%;
    top: 86%;
}
.benefits h3:after {
    width: 40px;
    height: 3px;
    right: 18%;
    top: 86%;
}
.requirements h3:before {
    width: 40px;
    height: 3px;
    left: 18%;
    top: 50%;
}
.requirements h3:after {
    width: 40px;
    height: 3px;
    right: 18%;
    top: 50%;
}
.design-selection{
    clear: both;
    width:100%;
    padding-bottom: 20px;
}

.design-archives, .zen-resources{
    clear:both;
    width:100%;
    padding-bottom: 20px;
}
.design-selection h3{
    padding-left:50px;
}   
.design-selection nav {
    margin-left:50px;
}
}


/*Big Tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px){
    header h1{    
    left: 80%;
    font-size: 400%;  
    }
    
    header h2{
    left:84%;
    font-size: 180%;
    }

    .summary{
    width: 550px;
    left: 52%;
    font-size: 16px;
    }
    .preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3{
    font-size: 36px;
    }
    .preamble p, .explanation p, .participation p, .benefits p, .requirements p{
    width:500px;
    font-size: 20px;
    }
    .preamble h3:before {
    width: 30px;
    height: 3px;
    left: 23%;
}
.preamble h3:after {
    width: 30px;
    height: 3px;
    right: 23%;
}
.explanation h3:before {
    width: 30px;
    height: 3px;
    left: 23%;
    top:86%;
}
.explanation h3:after {
    width: 30px;
    height: 3px;
    right: 23%;
    top:86%;
}
.participation h3:before {
    width: 30px;
    height: 3px;
    left: 23%;
}
.participation h3:after {
    width: 30px;
    height: 3px;
    right: 23%;
}
.benefits h3:before {
    width: 30px;
    height: 3px;
    left: 23%;
    top: 90%;
}
.benefits h3:after {
    width: 30px;
    height: 3px;
    right: 23%;
    top: 90%;
}
.requirements h3:before {
    width: 30px;
    height: 3px;
    left: 23%;
    top: 50%;
}
.requirements h3:after {
    width: 30px;
    height: 3px;
    right: 23%;
    top: 50%;
}
footer a{
    margin-right:35px;
}
}


/*Small Tablets: from 500 to 767px */
@media only screen and (max-width: 767px){
    header h1{    
    left: 90%;
    font-size: 350%;
    }
    header h2{
    left:94%;
    }
    .summary{
    width: 500px;
    left: 45%;
    font-size: 16px;
    }
    .preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3{
    font-size: 30px;
    }
    .preamble p, .explanation p, .participation p, .benefits p, .requirements p{
    width:400px;
    font-size: 16px;
    }
    .preamble h3:before {
    width: 20px;
    height: 2px;
    left: 15%;
    }
.preamble h3:after {
    width: 20px;
    height: 2px;
    right: 15%;
}
.explanation h3:before {
    width: 20px;
    height: 2px;
    left: 15%;
    top:86%;
}
.explanation h3:after {
    width: 20px;
    height: 2px;
    right: 15%;
    top:86%;
}
.participation h3:before {
    width: 20px;
    height: 2px;
    left: 15%;
}
.participation h3:after {
    width: 20px;
    height: 2px;
    right: 15%;
}
.benefits h3:before {
    width: 20px;
    height: 2px;
    left: 17%;
    top: 90%;
}
.benefits h3:after {
    width: 20px;
    height: 2px;
    right: 17%;
    top: 90%;
}
.requirements h3:before {
    width: 20px;
    height: 2px;
    left: 17%;
    top: 50%;
}
.requirements h3:after {
    width: 20px;
    height: 2px;
    right: 17%;
    top: 50%;
}
footer a{
    margin-right:25px;
}
}


/*Small Phones: from 0 to 500px */
@media only screen and (max-width: 500px){
    header h1{    
    left: 160%;
    font-size:40px;
    }
    header h2{
    left:168%;
    font-size: 120%;
    }
    .summary{
    width: 250px;
    left: 47%;
    font-size: 14px;
    }
    .preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3{
    font-size: 26px;
    }
    .preamble p, .explanation p, .participation p, .benefits p, .requirements p{
    width:300px;
    font-size: 16px;
    }
    .preamble h3:before {
    width: 20px;
    height: 1px;
    left: 13%;
    visibility: hidden;
    }
    .preamble h3:after {
    width: 20px;
    height: 1px;
    right: 13%;
    visibility: hidden;
    }
    .explanation h3:before {
    width: 20px;
    height: 1px;
    left: 13%;
    top:87%;
    visibility: hidden;
    }
    .explanation h3:after {
    width: 20px;
    height: 1px;
    right: 13%;
    top:87%;
    visibility: hidden;
    }
.participation h3:before {
    width: 20px;
    height: 1px;
    left: 17%;
    top: 50%;
    visibility: hidden;
}
.participation h3:after {
    width: 20px;
    height: 1px;
    right: 17%;
    top: 50%;
    visibility: hidden;
}
.benefits h3:before {
    width: 20px;
    height: 1px;
    left: 17%;
    top: 90%;
    visibility: hidden;
}
.benefits h3:after {
    width: 20px;
    height: 1px;
    right: 17%;
    top: 90%;
    visibility: hidden;
}
.requirements h3:before {
    width: 20px;
    height: 1px;
    left: 17%;
    top: 50%;
    visibility: hidden;
}
.requirements h3:after {
    width: 20px;
    height: 1px;
    right: 17%;
    top: 50%;
    visibility: hidden;
}
footer a{
    margin-right:20px;
    font-size: 24px;
}
.design-selection li { 
    width: 25%;
}
.zen-resources li {
    width: 20%;
}
}